<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
    <section class="recent-posts">
        <form>
            <div class="container">
            <div class="recent-posts-items">
                <div class="recent-column">
                    <div class="multi-button">
                        <button>готовый текст</button>
                        <button>мой текст</button>
                        <button>без текста</button>
                    </div>
                    <textarea placeholder="Введите текст"></textarea>
                    <div class="microphone">
                        <img src="img/micro.png" width="217" height="217">
                    </div>
                    <div class="multi-button start">
                    <button>&emsp;&emsp;&emsp;&emsp;Начать запись&emsp;&emsp;&emsp;&emsp;</button>
                    </div>
                </div>
            </div>
    </form>    
    </section>   
</body>
</html>