<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
    <section class="recent-posts">
        <div class="container">
        <div class="recent-posts-items">
            <div class="recent-column">
                <div class="multi-button">
                    <button>готовый текст</button>
                    <button>мой текст</button>
                    <button>без текста</button>
                </div>
                
                <div class="text-field">
                    Ничто не вечно под луной.
                    Примерно 750 миллионов лет назад суперконтинент Родиния начал распадаться.
                    Одним из продуктов распада стал континент Балтика.
                    На северо-западе этой платформы образовалась впадина, куда начала затекать вода.
                    Ее становилось все больше: климат на планете теплел, лед таял, полярные шапки почти исчезли,
                    уровень океана повышался. Так сформировалось море, которое можно назвать Балтийским,
                    хотя оно совсем не похоже на современный одноименный водоем.
                    Отличали его не только очертания, но и температура — как на южном курорте:
                    общее потепление усугублялось в данном случае близостью к экватору.
                </div>
                <div class="microphone">
                    <img src="img/micro.png" width="217" height="217">
                </div>
                <div class="multi-button start">
                <button>&emsp;&emsp;&emsp;&emsp;Начать запись&emsp;&emsp;&emsp;&emsp;</button>
                </div>
            </div>
        </div>    
    </section>   
</body>
</html>