{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <title>Сервис для распознавания речи</title>
  </head>
  <body>
    <header class="main-header">
      <nav class="profile">
          <a href="#">Лого</a>
          <img src="{% static 'main/img/account.svg' %}" alt="Логотип">
      </nav>
    </header>

    <main>
      <section class="hero">
        <h1 class="publik_buttom">Сервис для помощи при подготовке к публичным выступлениям</h1>
        <img class='public_man' src="{% static 'main/img/main.svg' %}" alt="Человек выступает перед публикой">
        <a href="#recording">попробовать</a>
      </section>

      <section class="article">
        <h2><center>Публичные выступления нужны:</center></h2>
        <div class="use">
          <ul>
            <li class="use-item">
              для приёма на работу
            </li>
            <li class="use-item">
              для подачи важной информации
            </li>
            <li class="use-item">
              чтобы удержать аудиторию
            </li>
            <li class="use-item">
              чтобы привлечь внимание
            </li>
          </ul>
        <img class="photo-use" src="{% static 'main/img/photo.svg' %}" alt="Фото">
      </div>
      </section>

    <section id='recording' class ='recording'>
      <button class="btn0"> .... </button>
      <div class="btn-group">
        <button class="btn1">готовый текст</button>
        <button class="btn3">без текста</button>
        <button class="btn2">мой текст</button>
      </div>
      <button class="button-rec"><img class='micro' src="{% static 'main/img/micro.svg' %}" alt="Микрофон"></button>
      <p class="record">Начать запись </p>
    </section>

    <footer class="social">
      <p>Связаться с нами:</p>
      <ul class="social-list">
        <li class="social-list-item">
          <p>тимлид</p>
          <a href="https://t.me/birykovasasha"><img class='img-tel' src="{% static 'main/img/telegram.png' %}" alt="Телеграм тимлида"></a>
        </li>
        <li class="social-list-item">
          <p>программист</p>
          <a href="https://t.me/p_ryanik"><img class='img-tel' src="{% static 'main/img/telegram.png' %}" alt="Телеграм программиста"></a>
        </li>
        <li class="social-list-item">
          <p>дизайнер</p>
          <a href="https://t.me/VikMironenko"><img class='img-tel' src="{% static 'main/img/telegram.png' %}" alt="Телеграм дизайнера"></a>
        </li>
        <li class="social-list-item">
          <p>аналитик</p>
          <a href="https://t.me/mrnvhn"><img class='img-tel' src="{% static 'main/img/telegram.png' %}" alt="Телеграм аналитика"></a>
        </li>
      </ul>
    </footer>
  </body>
</html>