{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распознавание речи</title>
    <link rel="stylesheet" href="{% static 'main/css/normalize.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link href="https://fonts.cdnfonts.com/css/next-art" rel="stylesheet">
    <script type="text/javascript" src={% static "main/js/main1.js" %}></script>
</head>
<body>
    <div class="container">
        <header>
            <a href="#" class="header-logo"></a>
        </header>
    </div>
    <section>
        <div class="container">
            <div class="main">
                <div class="main-text">
                    <h1 class="main-title">VOI&nbsp;CES</h1>
                    <p class="main-desc">сервис для помощи во время&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;подготовки к публичным выступлениям</p>
                    <div class="main-img">
                        <img class="main-image" src="{% static 'main/img/wonan-avatar.png' %}" alt="woman">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="intro">
                <p class="intro-spec">Проверьте свой уровень подготовки к публичному выступлению с помощью программы. Она подскажет какие аспекты вашего выступления следует улучшить, чтобы люди лучше вопринимали вашу речь.</p>
                <a class="intro-btn" href="">ПОПРОБОВАТЬ</a>
            </div>
            <div class="arrow-down">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="public-speech">
                    <h2 class="public-speech-title">Публичные <br> выступления нужны:</h2>
                    <ul class="public-speech-list">
                        <li class="public-speech-list-items">~ для приёма на работу</li>
                        <li class="public-speech--list-items">~ для подачи важной информации</li>
                        <li class="public-speech--list-items">~ чтобы удержать аудиторию</li>
                        <li class="public-speech--list-items">~ чтобы привлечь внимание</li>
                    </ul>
            </div>
            <div class="public-speech distance">
                <h2 class="public-speech-title">Характеристики речи, <br> которые мы проверяем:</h2>
                <ul class="public-speech-list">
                    <li class="public-speech-list-items">~ темп голоса</li>
                    <li class="public-speech--list-items">~ слова паразиты</li>
                    <li class="public-speech--list-items">~ высота голоса</li>
                </ul>
            </div>
            <div class="woman-left-img">
                <img class="woman-left-image" src="{% static 'main/img/4.png' %}" alt="woman">
            </div>
            <div class="woman-right-img">
                <img class="woman-right-image" src="{% static 'main/img/1.png' %}" alt="woman">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="switch-toggle switch-3 switch-candy">
                <input id="on" name="state-d" type="radio" checked="" />
                <label for="on" onclick="">без текста</label>

                <input id="na" name="state-d" type="radio" checked="checked" />
                <label for="na" class="disabled" onclick="">мой текст</label>

                <input id="off" name="state-d" type="radio" />
                <label for="off" onclick="">готовый текст</label>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <button class="micro" onclick="fun1()" type="button"></button>
            <p class="start">НАЧАТЬ</p>
        </div>
    </section>
</body>
<footer class="main-footer">
    <p class="connection">Связаться с нами:</p>
    <ul class="wrapper">
        <a href="https://t.me/birykovasasha">
            <li class="icon facebook">
              <span class="tooltip">Бирюкова Александра</span>
              <span><i class="fab fa-facebook-f"></i></span>
            </li>
        </a>
        <a href="https://t.me/p_ryanik">
            <li class="icon facebook">
              <span class="tooltip">Пряничникова Мария</span>
              <span><i class="fab fa-facebook-f"></i></span>
            </li>
        </a>
         <a href="https://t.me/mrnvhn">
            <li class="icon facebook">
              <span class="tooltip">Виханова Марина</span>
              <span><i class="fab fa-facebook-f"></i></span>
            </li>
             </a>
          <a href="https://t.me/VikMironenko">
            <li class="icon facebook">
                <span class="tooltip">Мироненко Виктория</span>
                <span><i class="fab fa-facebook-f"></i></span>
            </li>
          </a>
      </ul>
</footer>
</html>