{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{% static 'main/css/mainstyle.css' %}">

</head>
<body>

    <header class="main-header">
        <div class='container'></div>
    </header>
    <main>
        <section class="hero">
            <div class="container">
                <div class="content">
                    <h1 class="hello_title">SHADOW</h1>
                    <div class="hello-text">
                        сервис для помощи при подготовке к публичным выступлениям
                    </div>
                </div>
            </div>
          </section>
          <section class="recent-posts">
            <div class="container">
                <div class="woman-avatar">
                    <img src="{% static 'main/img/e 1.png' %}" alt="">
                </div>
                <h1 class="title">Публичные выступления нужны</h1>
                <ul class="reasons-use">
                    <li class="reasons-use-item">для приёма на работу</li>
                    <li class="reasons-use-item">для подачи важной информации</li>
                    <li class="reasons-use-item">чтобы удержать аудиторию</li>
                    <li class="reasons-use-item">чтобы привлечь внимание</li>
                </ul>
            </div>
          </section>
          <section class="recent-posts">
            <div class="container">
            <div class="recent-posts-items">
                <div class="recent-column">
                    <ul class="text-navigation">
                        <li class="text-navigation-item">
                            <a href="{% url 'readytext' %}">готовый текст</a>
                        </li>
                        <li class="text-navigation-item">
                            <a href="{% url 'minetext' %}">мой текст</a>
                        </li>
                        <li class="text-navigation-item">
                            <a href="{% url 'without' %}">без текста</a>
                        </li>
                    </ul>
                    <a href="{% url 'audio' %}">Начать запись</a>
                </div>
            </div>    
        </section>
    </main>
    <footer class="main-footer">
        <ul class="social-list">
            <li class="social-list-item">
              <a href="#"><img src="img\spider-man.png" alt="Facebook" width="40" height="40"></a>
            </li>
            <li class="social-list-item">
                <a href="#"><img src="img\spider-man.png" alt="Instagram" width="40" height="40"></a>
              </li>
            <li class="social-list-item">
                <a href="#"><img src="img\spider-man.png" alt="Twitter" width="40" height="40"></a>
            </li>
          </ul>
    </footer>  
</body>
</html>