<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <title></title>
  <link rel="stylesheet" href="style2.css" />
</head>
<body>
    <section class="recent-posts">
        <div class="container">
        <div class="recent-posts-items">
            <div class="recent-column">
                <ul class="text-navigation">
                    <li class="text-navigation-item">
                        <a href="/ready.html">готовый текст</a>
                    </li>
                    <li class="text-navigation-item">
                        <a href="/mine.html">мой текст</a>
                    </li>
                    <li class="text-navigation-item">
                        <a href="/without.html">без текста</a>
                    </li>
                </ul>
                <div class="text-field">
                    <p><input type="text" size="40"></p>
                </div>
                <div class="microphone">
                    <img src="img/micro.png" alt="">
                </div>
                <button>Начать запись</button>
            </div>
        </div>    
    </section>   
</body>
</html>