body {
    background-image: url(img/back.jpg);
    background-attachment: fixed;
    background-size: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #313131;
}

.container {
    max-width: 1044px;
    margin: 0 181px;
  }

.text-navigation-item {
    margin-top: 100px;
    margin-right: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}


.title {
    font-size: 36px;
    text-align: center;
    margin-top: 56px;
    
}

.reasons-use {
    font-size: 30px;
    line-height: 36px;
    margin-left: 470px;
    margin-top: -200px;
    text-align: left;
}

.hello_title {
    font-size: 128px;
    font-family: 'NEXTART';
    font-weight: 300;
    letter-spacing: 0.985em;
    margin-top: 304px;
}

@font-face {
    font-family: 'NEXTART';
    src: local('NEXTART'),
         url('../fonts/NEXTART-Light.ttf') format('truetype'),
         url('../fonts/NEXTART-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/NEXTART-Light.woff') format('woff'); 
    font-weight: 300;
    font-style: normal;
}

.woman-avatar {
    margin-top: -500px;
    margin-bottom: 50px;
    margin-left: 70px;
}

.hello-text {
    font-size: 20px;
}

.logo {
    display : block;
    position: absolute;
    align-items: right;
    margin-top: -260px;
}

.rectangle{
    width: 378px;   
    height: 234px;   
    border:1px solid;      
    background: #313131;
    border-radius: 30px;
    margin-top: 37px;
}

.social-list-item {
    list-style-type: none;
    display: inline;
}

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: white;
    --color-secondary: #313131;
    --color-tertiary: dodgerblue;
    --shadow: #313131(0, 0, 0, 0.1);
    --space: 1rem;
  }

  
  .multi-button {
    margin-top: 150px;
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
  }
  
  .multi-button button {
    border-radius: 30px;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid #313131;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
  }
  
  .multi-button button + button {
    border-left: var(--border-size) solid #313131;
    margin-left: calc(var(--border-size) * -1);
  }
  
  .multi-button button:hover,
  .multi-button button:focus {
    flex-grow: 2;
    color: white;
    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
  }
  
  .multi-button:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
  }
  
  .multi-button button:active {
    transform: translateY(var(--border-size));
  }

  .microphone {
    margin-top: 100px;
    margin-left: 50px;
  }

  .start {
    margin-top: 50px;
    margin-left: 50px;
    width: 400px;
    align-items: center;
    display: inline-block;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  margin-right: 40px;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.connection{
    margin-top: 200px;
    margin-right: 10px;
}
