body {
    background-image: url(img/back.jpg);
    background-attachment: fixed;
    background-size: 100%;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
  }

.text-navigation-item {
    margin-right: 30px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 36px;
    text-align: center;
    margin-top: 56px;
}

.reasons-use {
    position: absolute;
    display: inline-block;
    padding: 5px;
    width: auto;
    height: auto;
    right: 0;
    margin-right: 350px;
    font-size: 30px;
    line-height: 36px;
}
